# use glob syntax
syntax: glob

*.tss
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Tt]mp
*.docstates
*.css.map
[Aa]pp_[Dd]ata
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Pp]ackages/
_ReSharper*/
build/*
courses/*
[Tt]humbs.db
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.resharper
Source/SOLE.Website/web.config*
[Pp]ersonal
[Cc]ourses
[Ss]ites
Source/SOLE.Website/web.Debug.config
Source/WebEssentials-Settings.json
Source/.vs/*
Source/SOLE.Website/Assets/11/sole.js
Source/SOLE.Website/Assets/11/sole.min.js